<!DOCTYPE HTML>
<!--此处用到的是thymeleaf的模板所以添加如下xmlns，以至于下面的从session中取值的操作得以进行-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>麻酱社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel ="stylesheet" href="css/bootstrap.min.css"/>
    <link rel ="stylesheet" href="css/bootstrap-theme.min.css"/>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">麻酱社区</span>
            </button>
            <a class="navbar-brand" href="#">麻酱社区</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <label>
                        <input type="text" class="form-control" placeholder="搜索话题">
                    </label>
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li th:if="${session.user!=null}">
                    <a href="/publish">发布</a>
                </li>
                <!--取出先前放在session中的githubUser信息-->
                <li class="dropdown" th:if="${session.user!=null}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" th:text="${session.user.getName()}"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">消息中心</a></li>
                        <li><a href="#">个人资料</a></li>
                        <li><a href="#">退出登录</a></li>
                    </ul>
                </li>
                <li th:if="${session.user==null}">
                    <a href="https://github.com/login/oauth/authorize?client_id=0a6fa384d45b2abe4527&redirect_url=http://localhost:8887/callback&scope=user&state=1">登录</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid main">
    <div class="row">

        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-list" aria-hidden="true"></span>发现</h2>

            <!--该表单完成以后，当点击submit时候，寻找地址为/publish、请求方法为post的接口-->
            <form action="/publish" method="post">
                <div class="form-group">
                    <label for="title">问题标题：</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="问题标题……" th:value="${title}">
                </div>

                <div class="form-group">
                    <label for="description">问题补充：</label>
                    <textarea name="description" class="form-control" id="description"  cols="30" row="10" th:text="${description}"></textarea>
                </div>

                <div class="form-group">
                    <label for="tag">添加标签：</label>
                    <input type="text" class="form-control" id="tag" name="tag" placeholder="输入标签，以逗号隔开" th:value="${tag}">
                </div>

                <div class="container-fluid main">
                    <div class="row"></div>
                    <div class="alert alert-danger col-lg-9 col-md-12 col-sm-12" th:text="${error}" th:if="${error!=null}"></div>
                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <button type="submit" class="btn btn-success btn-publish">发布</button>
                    </div>
                </div>

            </form>
        </div>


        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>热门话题</h3>
        </div>
    </div>
</div>
</body>
</html>